.game {
    background: #70caed20;
    border: 1px solid #7d4da490;
    padding: 20px;
    margin-right: 22px;
    margin-bottom: 22px;
    width: 230px;
    border-radius: 25px;
    transition: box-shadow 0.3s else-in-out;
  
    span {
      font-size: 14px;
    }
  
    b{
      font-size: 15px;
    }
  
  }
  
  .game:hover {
    box-shadow: 0px 16px 35px rgba(0, 0, 0, 0.04);
  }
  
  .game_title {
    font-weight: 600;
    font-size: 18px;
  }
  
  .full_game_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .game_info {
    display: flex;
    flex-direction: column;
  }
  
    .liked {
      margin-left: 20px;
      cursor: pointer;
    }
    
.plus {
    cursor: pointer;
}